.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.navbar{
  padding: 3rem;
  -webkit-transition: all 0.7s ease-in-out;
   transition: all 0.7s ease-in-out;
   background-color: rgba(0,0,0,0.1) !important;
}

.navbar .nav-item.active{
  border-left: #444 3px solid;
}

body,
html,
#bg-img{
  height: 100%;
}
body,
html,
nav,
div,
#bg-img{
  width: 100%;
}

#bg-img{
  padding-top: 0%;
  margin-top: 0%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

 nav.navbar.shrink{
   background-color:rgb(68, 85, 140) !important;
   padding: 0rem;
 }

 #imgHome2{
   position: relative;
   min-height: 200px;
   background-image: url('../img/notebook.jpg');
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
   text-align: center;
   color: #FFF;
 }

.overlay {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0,0,0,0.3);
}
